version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: eduprompt-redis
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 10s
      retries: 5


  app:
    build: .
    container_name: eduprompt
    depends_on:
      - redis
    ports:
      - "8080:8080"
    env_file:
      - env/docker.env
    restart: unless-stopped

volumes:
  redis-data: